* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 html {
    font-size: 62.5%;
  }

 body{
    font-family: "Goldman";
    background-color: black;
    background-image: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 h1{
    color: aliceblue;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 8%;
 } 

 p {
    color: aliceblue;
    font-size: 2rem;
    margin: 10px;
 }
 footer{
    width: 100%;
    padding: 2rem;
    min-height: 5vh;
    align-items: center;
    background: #00a8c7;
    font-size: 2rem;
    position: fixed;
    bottom: 0;
 }
  
  nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: aut;
    background: #00a8c7;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;
  }

  h1 {
    margin-top: 50px;
    margin-left: 150px;
  }

  section img {
    margin-left: 700px;
  }

  section p {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 500px;
    margin-left: 600px;
    margin-bottom: 50px;
  }
  
  .dropbtn {
    background-color: #00a8c7;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #00a8c7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: lightgrey}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #00a8c7;
  }
  